*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaWdvJTIwZGUlMjBwcm9ncmFtYWNpb258ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    
}



.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: rgba(57, 56, 56, 0.505);
}

.menu li{
list-style: none;
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    

}

.menu {
    display: flex;
    width: 53%;
    justify-content: space-between;
}

/* Transicion */
.menu a:hover{
    background-color: rgb(255, 255, 255);
    transition: ease-in .7s;
}

.menu{
    color: rgb(3, 3, 3);
}

.info-content{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descargar-cv{
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 1px 3px 11px -5px #ee02ff;
    margin-top: 10px;
    background-color: #ffffff00;
    color: #FFFFFF;
}

.descargar-cv:hover{
    background-color: #ffffff00;
    box-shadow: none;

}



.sobremi{
    height: 100vh; /* La altura del div será igual a la altura de la ventana del navegador */
    background-image: url('https://i.pinimg.com/736x/9c/37/1c/9c371c11c4e4ecb12de36d6b12abe421.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* Esto asegura que la imagen cubra completamente el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 50px 20px;
    background-attachment:fixed;
}



.sobremi{
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
    
}

.sobremi h1{
    padding: 1em;
    flex: 1;
}

.sobremi p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.experiencia{
    background-color: rgb(23, 22, 22);
    width: 100vw;
    height: 100vh;
    

}


.timeline-title {
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 20px;
}


.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #8e20ce;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-event {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-event:nth-child(odd) {
    left: 0;
}

.timeline-event:nth-child(even) {
    left: 50%;
}

.timeline-event::after {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #820fb4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-event:nth-child(even)::after {
    left: -17px;
}

.timeline-content {
    padding: 20px;
    background-color: rgb(117, 3, 109);
    position: relative;
    border-radius: 6px;
}

.timeline-content h2 {
    margin: 0 0 10px 0;
    color: #000000;
}

.timeline-content p {
    margin: 0 0 10px 0;
}

